<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta
            name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:insert="fragments/cdn-head-dashboard-imports.html :: fomantic-head"></div>
    <title>Task List</title>

    <title>Add Task</title>

</head>
<body>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="ui fourteen wide column" style="margin-top: 5px">
        <div class="row">
            <h2 class="ui header">
                <img class="ui image" src="https://fomantic-ui.com/images/icons/school.png">
                <div class="content">
                    Soru
                </div>
            </h2>
        </div>
        <br>
        <div class="row">
            <form th:action="@{/admin/taskcode/new}" th:object="${taskCode}" method="POST">
                <div class="ui form">
                    <div class="field">
                        <label>Code</label>
                        <textarea th:field="*{code}" ></textarea>
                    </div>

                    <div class="field">
                        <label>Test Code</label>
                        <textarea th:field="*{testCode}"></textarea>
                    </div>
                </div>
                <label>Dil</label>
                <br>

                <div class="ui radio checkbox">
                    <input type="radio" id="option2" name="languageId" class="custom-control-input" value="2">
                    <label class="custom-control-label">Python</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option3" name="languageId" class="custom-control-input" value="3">
                    <label class="custom-control-label">Java</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option4" name="languageId" class="custom-control-input" value="4">
                    <label class="custom-control-label">C#</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option5" name="languageId" class="custom-control-input" value="5">
                    <label class="custom-control-label">C</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option6" name="languageId" class="custom-control-input" value="6">
                    <label class="custom-control-label">C++</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option7" name="languageId" class="custom-control-input" value="7">
                    <label class="custom-control-label">JavaScript</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option8" name="languageId" class="custom-control-input" value="8">
                    <label class="custom-control-label">Go</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input type="radio" id="option9" name="languageId" class="custom-control-input" value="9">
                    <label class="custom-control-label">PHP</label>
                </div>
                <br>
                <label>Task Id</label>
                <input type="number" th:field="*{taskId}" th:value="${taskId}" readonly>
                <button type="submit" class="ui large button green" style="flex: 0; float: right; margin-top: 5px;">
                    Kaydet
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    tinymce.init({
        selector: 'textarea#editor',
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: false,
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
        integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<div th:insert="fragments/cdn-js-imports.html :: fomantic-js"></div>
</body>
</html>